build/**
scripts/Armbian_community_25.8.0-trunk.245_Bananapim2zero_bookworm_current_6.12.30_minimal.img.xz
scripts/Armbian_community_25.8.0-trunk.245_Bananapim2zero_bookworm_current_6.12.30_minimal.img
